html {
    font-family: 'Roboto', sans-serif;    
}

#stage {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#header {

    padding: 40px;

}

#main {

    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.panel {
    flex-grow: 1;
    margin: 10px;
    overflow: scroll;
}
